body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

header {
    background: #222;
    padding: 10px 0;
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
}
header .logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #333333;
}

header .logo-force {
  color: #333333; 
}

header .logo-hub {
  background-color: #28a745; 
  border-radius: 10px;
  padding: 3px;
  color: #f8f9fa;
}

header nav {
    background-color: #f8f9fa;           
    border-bottom: 3px solid #28a745;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

header nav a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}

header nav a:hover {
    background-color: #28a745;
    color: white;
}

.formulario {
  background-color: white; 
  border-radius: 10px;
  padding: 50px;
  max-width: 500px;
  margin: 150px auto; 
}

.formulario input,
.formulario select  {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 1rem;
}

.formulario textarea  {
  width: 95%;
  height: 150px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 1rem;
}


.formulario input:focus,
.formulario select:focus,
.formulario textarea:focus {
  border-color: #28a745; 
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #28a745; 
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
  margin: 10px;
  cursor: pointer;
}

.botones {
  text-align: center;
}

.limpiar button {
  background-color: rgb(237, 8, 8); 
}

.limpiar button:hover {
  background-color: rgb(172, 12, 12);
}
button:hover {
  background-color: #218838; 
}

.boton-alt button {
  background-color: #ff9f43;
}

.boton-alt button:hover {
  background-color: #ff6f00;
}

.contenedor-rutinas {
  display: grid;
  grid-template-columns: repeat(3, 32.5%); 
  gap: 20px;
  padding: 20px;
  margin-top: 120px;
}

.rutinas {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: left;
  border-left: 5px solid #28a745;
  margin-bottom: 15px;
}

.rutinas h3 {
  margin: 0 0 10px;
}

.rutinas .descripcion-rutina {
  color: #666666;
  margin-bottom: 15px;
}

.principiante, .intermedio, .avanzado {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.8rem;
  margin-bottom: 15px;
  color: #fff;
}

.principiante {
  background: #66b3ff;
}

.intermedio { 
  background: #ff6f00; 
}

.avanzado { 
  background: #dc3545; 
}

.rutinas a {
  text-decoration: none;
}

.rutinas .btn-rutina {
  display: block;
  width: 100px;
  padding: 10px 0;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  text-align: center;
}

.rutinas .btn-rutina:hover {
  background-color: #218838;
}
